h1, h3{
    text-align: center;
}

img {
    width: 100%;
}

body {
	color: #fff;
    background: url("../assets/quiz_bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img.questions {
	opacity: 0.6;
	position: absolute;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
}

img.choices {
    max-width: 450px;
    opacity: 1;
    filter: alpha(opacity=100);
}

img.choices:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.quiz {
	position: relative;
}

.container.results {
    text-align: center;
    width: 100%;
}

.imgresults {
    max-width: 300px;
}

.imgsocial {
    max-width: 100px;
    margin-top: 20px;
}

.social {
    margin-top: 100px;
}

.question-title {
    font-size:1em;
    text-transform: uppercase;
}


/*media queries for responsive quiz layout, very hacky!*/
@media screen and (min-width: 1200px) {
    .question-title {
        top: 330px;
        font-size: 30px;
    }
}

@media screen and (max-width: 1200px) {
    .question-title {
        top: 265px;
    }
    img.choices {
        margin-top: -20px;
    }
}

@media screen and (max-width: 991px) {
    .question-title {
        top: 185px;
    }
}


@media screen and (max-width: 767px) {
    img.choices {
        margin-top: -20px;
    }
}

@media screen and (max-width: 600px) {
    img.choices {
        margin-top:-10px;
    }
}

@media screen and (max-width: 430px) {
    img.choices {
        margin-top: 0px;
    }
}

@media screen and (max-width: 320px) {
    .question-title {
        position: absolute;
    }
}

@media screen and (min-width: 767px) {
    .question-title {
        position: absolute;
        font-size: 20px;
        background-color: #fff;
        color: #000;
        text-transform: uppercase;
        width: 100%;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-weight: bold;
    }
}